body
{
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: verdana;
}
.resaltado
{
  background-color: yellow;
}
#menu-principal{
  padding: 10px 0px;
}
.titulo{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
footer
{
  margin-top: 1px;
  margin: black;
  padding-top: 10px;
  text-align: center;
}
